html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
}
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
  ol, ul {
    list-style: none;
}
  
  img {
    max-width: 100%;
    height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Inter:wght@700;800&family=Teko:wght@500;600&display=swap');

body {
    font-family: 'Teko', sans-serif;
    background-image: url("image/cosmic\ backgrond\.png");
    color: #fff;
}

.header-container {
    position: absolute;
    
}


.heading-mars {
    position: absolute;
    width: 759px;
    height: 216px;
    left: 201px;
    top: 147px;
    
    font-family: 'Basement Grotesque';
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    line-height: 108px;
    
    color: #FFFFFF;
    font-family: 'Teko', sans-serif;
}

.description-mars {
    position: absolute;
    width: 448px;
    height: 90px;
    left: 201px;
    top: 425px;
    
}

.contact-email {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 607px;
    height: 116px;
    left: 288px;
    top: 646px;
}

.image {
    position: absolute;
    width: 81px;
    height: 76px;
    left: 199px;
    top: 656px;
    background: url(PhotoRoom-20220111_004815_2);
    border-radius: 49.6143px
}

.email {
    color: #FC6310;
}

.mars {
    color: #FC6310;
    
}

.ellipse {
   position: absolute;
   width: 26px;
   height: 26px;
   left: 170px;
   top: 421px;
}

